<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>$!page_title</title>
	#include('WEB-INF/elements/css.jsp')
</head>
<body>

	<header class="container">
		#parse('WEB-INF/elements/header.jsp')
	</header>

	<nav class="container">
		#parse('WEB-INF/elements/menu.jsp')
	</nav>

	<section class="container">
		#parse('WEB-INF/elements/errors.jsp')
		$screen_content
	</section>

	<footer class="container">#include('WEB-INF/elements/footer.jsp')</footer>

	#include('WEB-INF/elements/js.jsp')	
</body>
</html>